.arrow {
  margin: 0 10px 0 0;
  width: 25px;
  height: 40px;
  opacity: 1;
  /*  animation: slide 3s linear 1s infinite; */
}

.arrow:first-of-type {
  margin: 0 10px 0 10px;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-5vw);
  }

  20% {
    opacity: 1;
    transform: translateX(-3vw);
  }

  80% {
    opacity: 1;
    transform: translateX(-1vw);
  }

  100% {
    opacity: 0;
    transform: translateX(1vw);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-5vw);
  }

  20% {
    opacity: 1;
    transform: translateX(-3vw);
  }

  80% {
    opacity: 1;
    transform: translateX(-1vw);
  }

  100% {
    opacity: 0;
    transform: translateX(1vw);
  }
}
