.vacancies__form {
  margin-top: 75px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  border-radius: 30px;
  max-width: 1110px;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .vacancies__form {
    flex-direction: column;
    margin: 75px auto 0;
    align-items: flex-start;
  }
}

@media (max-width: 1000px) {
  .vacancies__form {
    padding: 30px 10px;
  }
}
