.popup__close-button {
    background-image: url(../../../images/popup-close-button.svg);
    min-width: 25px;
    min-height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    position: absolute;
    top: 5%;
    right: 5%;
    padding: 0;
    cursor: pointer;
    z-index: 200000;
}

.popup__close-button:hover {
    opacity: 80%;
}