.section-faq__title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

div:nth-child(2n) .section-faq__title {
  color: #FFFFFF;
}

div:nth-child(3n) .section-faq__title {
  color: #000000;
}
