.vacancies__slider {
  width: 60px;
  height: 30px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  top: -5px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 51px;
  cursor: pointer;
  opacity: 1;
}

.vacancies__slider:hover {
  opacity: 0.7;
  transition: all .5s linear;
}

.vacancies__slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .vacancies__slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

.vacancies__slider:before {
  border-radius: 50%;
  background-color: #005CFF;
}
