.main-info {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  min-height: 786px;
  width: 100%;
  box-sizing: border-box;
  background-image: url('../../images/fon1.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 0 0 30px 30px;
}
