.section-chatbox__recommendation-arrow {
  display: block;
  width: 25px;
  height: 45px;
  opacity: 0;
  animation: slideB 3s linear 1s infinite;
}

@-webkit-keyframes slideB {
  0% {
    opacity: 0;
    transform: translateX(-5vw);
  }

  20% {
    opacity: 1;
    transform: translateX(-3vw);
  }

  80% {
    opacity: 1;
    transform: translateX(-1vw);
  }

  100% {
    opacity: 0;
    transform: translateX(1vw);
  }
}

@keyframes slideB {
  0% {
    opacity: 0;
    transform: translate(-20vw -50vw);
  }

  20% {
    opacity: 1;
    transform: translate(-20vw -50vw);
  }

  80% {
    opacity: 1;
    transform: translate(-20vw -50vw);
  }

  100% {
    opacity: 0;
    transform: translate(-20vw -50vw);
  }
}
