.section-chatbot__answer-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  min-height: 100px;
  background-color: #DCDCDC;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
