.vacancies__form_title {
  margin: 0;
  font-family: 'YS Display';
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

@media (max-width: 1000px) {
  .vacancies__form_title {
    text-align: center;
    font-size: 28px;
    line-height: 36px;
  }
}
