.footer {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 44px;
  grid-template-areas:
    "number nav"
    "copyright info";
  background-color: #EAEAEA;
  border-radius: 60px 60px 0px 0px;
  padding: 82px 168px 95px 165px;
  margin: -50px auto 0;
  max-width: 1440px;
}

@media (max-width: 1000px) {
  .footer {
    flex-direction: column;
    margin: -50px auto 0;
    grid-template-columns: 100%;
    grid-template-areas:
      "nav"
      "number"
      "info"
      "copyright";
    padding: 80px 50px;
  }
}
