.footer {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 44px;
  grid-template-areas:
    "number nav"
    "copyright info";
  background-color: #FFFFFF;
  border-radius: 60px 60px 0px 0px;
  padding: 82px 168px 95px 165px;
  margin-top: -110px;
}
