.card-vacancies {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding: 30px;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #FFFFFF;
  border-radius: 30px;
}
