.vacancies__link {
  text-decoration: none;
  font-family: 'YS Display';
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #B5B5B5;
}

.vacancies__link:last-child {
  margin-left: 20px;
}
