.main-info__text-arrow {
  font-family: 'YS Display';
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #EC722D;
  margin: 85px auto 0 15px;
  padding: 0;
  min-width: fit-content;
}