.main-info__button-cta {
  padding: 0 28px;
  border: 0;
  min-height: 60px;
  margin: 45px auto 0;
}

@media screen and (max-width: 800px) {
  .main-info__button-cta {
    margin-top: 270px;
  }
}
@media screen and (max-width: 700px) {
  .main-info__button-cta {
    margin-top: 350px;
  }
}

@media screen and (max-width: 600px) {
  .main-info__button-cta {
    margin-top: 45px;
  }
}

@media screen and (max-width: 400px) {
  .main-info__button-cta {
    margin-top: 391px;
    font-size: 16px;
    line-height: 50px;
    min-height: 50px;
    padding: 0 78px;
  }
}