.my-swiper {
    width: 100%;
    height: 100%;
    padding: 20px 12% 90px 20px;
}

@media screen and (max-width: 1024px) {
    .my-swiper {
        padding: 20px 12% 20px 20px;
    }
}

.my-swiper .swiper-slide {
    width: 350px;
    height: 100%;
    flex-shrink: 0;
    position: relative;
    /*text-align: center;*/
    /*font-size: 18px;*/
    /*!*background: #fff;*!*/

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.my-swiper .swiper-slide:hover {
    transform: scale(1.05);
    transition: transform .3s ease-out;
}

.my-swiper .swiper-wrapper {
    gap: 0;
}

.my-swiper .swiper-button-prev {
    left: 45%;
    right: auto;
    top: 95%;
    bottom: 0;
    background-image: url(../../images/slider_left.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    color: transparent;
}

@media screen and (max-width: 1024px) {
    .my-swiper .swiper-button-prev {
        visibility: hidden;
    }
}

.my-swiper .swiper-button-prev:hover {
    background-image: url(../../images/slider_left_hover.svg);
    transition: background-image .3s ease-out;
}

.my-swiper .swiper-button-next {
    right: 45%;
    left: auto;
    top: 95%;
    bottom: 0;
    background-image: url(../../images/slider_right.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    color: transparent;
}

@media screen and (max-width: 1024px) {
    .my-swiper .swiper-button-next {
        visibility: hidden;
    }
}

.my-swiper .swiper-button-next:hover {
    background-image: url(../../images/slider_right_hover.svg);
    transition: background-image .3s ease-out;
}

/*.swiper-slide img {*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/