.faculties__arrow {
    width: 28px;
    height: 25px;
    position: absolute;
    right: 28px;
    bottom: 30px;
}

@media screen and (min-width: 1281px) {
    .faculties__arrow {
        display: none;
    }
}