.button-cta_vacancy {
    background-color: transparent;
    border: 1px solid rgba(0,0,0,1);
    color: #000000;
}

.button-cta_vacancy:hover {
    border: 1px solid rgba(0,92,255,1);
    background-color: transparent;
    color: #005CFF;
}

.button-cta_vacancy:disabled {
    border: 1px solid rgba(180,178,178,1);
    color: #B5B2B1;
}

@media screen and (max-width: 767px) {
    .button-cta_vacancy {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}