.section-faq__item {
  border-radius: 30px;
  cursor: pointer;
  background-color: #000000;
}

.section-faq__item:nth-child(2n+1) {
  background-color: #005CFF;
}

.section-faq__item:nth-child(3n) {
  background-color: #FFFFFF;
}

.section-faq__item:last-child {
  padding-bottom: 30px;
}
