.roadmap__animation {
  width: 25px;
  height: 45px;
  opacity: 1;
  transform: rotateX(0deg);
  animation: roadmap__animation 3s linear 1s infinite;
}

@-webkit-keyframes roadmap__animation {
  0% {
    opacity: 0;
    transform: translateY(3vw);
  }

  20% {
    opacity: .4;
    transform: translateY(2vw);
  }

  80% {
    opacity: .6;
    transform: translateY(1vw);
  }

  100% {
    opacity: 1;
    transform: translateY(0vw);
  }
}

@keyframes roadmap__animation {
  0% {
    opacity: 0;
    transform: translateX(-2vw);
  }

  20% {
    opacity: .4;
    transform: translateX(-1vw);
  }

  80% {
    opacity: .6;
    transform: translateX(0vw);
  }

  100% {
    opacity: 1;
    transform: translateX(1vw);
  }
}
