.contacts {
  padding: 75px 165px 130px;
  box-sizing: border-box;
  background-color: #000000;
}

@media (max-width: 1320px) {
  .contacts {
    padding: 75px 15px 130px;
  }
}

@media (max-width: 767px) {
  .contacts {
    padding: 80px 15px 106px;
  }
}
