.description__cards-container {
    margin: 60px 0 0 0;
    max-width: 1110px;
    list-style: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: start;
}