.description__cards-container_type_desktop {
    display: none;
}

@media only screen and (min-width: 1024px) {
    .description__cards-container_type_desktop {
        display: flex;
        gap: 30px;
    }
}