.faculties__cards-container {
  margin: 60px 0 0;
  max-width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: start;
  padding-bottom: 75px;
}
