.contacts__wrapper {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  border-radius: 30px;
}

@media (max-width: 1000px) {
  .contacts__wrapper {
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;
  }
}
