.comments__card {
    width: 350px;
    height: 685px;
    padding: 20px 20px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #FFFFFF;
    border-radius: 30px;
    overflow: hidden;
}

.comments__card:hover {
    background-color: #EAEAEA;
    transition: background-color .3s ease-out;
}