.vacancies__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 30px;
  gap: 30px;
}

@media (max-width: 1120px) {
  .vacancies__cards {
    justify-content: center;
  }
}
