.section-chatbot__user-answer {
  grid-area: answer;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  background-color: #151414;
  border-radius: 10px;
  padding: 10px;
  margin: 0;
}
