.section-chatbot__button {
  text-decoration: none;
  margin: auto;
  box-sizing: border-box;
  text-align: center;
  min-width: 368px;
  padding: 0 28px;
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  color: #1A1B22;
  border: 1px solid #1A1B22;
  border-radius: 100px;
  background-color: inherit;
  transition: all 1s linear;
}

.section-chatbot__button:hover {
  opacity: .3;
  transition: all 1s linear;
}
