/* normalize.css */
@import url('./vendor/normalize.css');
/* шрифт */
@import url('./vendor/fonts/YS/ysfont.css');

@import url('./blocks/page/page.css');
@import url('./blocks/page/__container/page__container.css');

@import url('./blocks/button-cta/button-cta.css');
@import url('./blocks/button-cta/_faq/button-cta_faq.css');

@import url('./blocks/header/header.css');
@import url('./blocks/header/__list/header__list.css');
@import url('./blocks/header/__link/header__link.css');
@import url('./blocks/header/__button/header__button.css');

@import url('./blocks/section/section.css');
@import url('./blocks/section/__title/section__title.css');
@import url('./blocks/section/__subtitle/section__subtitle.css');
@import url('./blocks/section/__text/section__text.css');

@import url('./blocks/content/content.css');
@import url('./blocks/page/__content/page__content.css');
@import url('./blocks/content/__section/content__section.css');

@import url('./blocks/vacancies/vacancies.css');
@import url('./blocks/vacancies/__toogle/vacancies__toogle.css');
@import url('./blocks/vacancies/__switch/vacancies__switch.css');
@import url('./blocks/vacancies/__checkbox/vacancies__checkbox.css');
@import url('./blocks/vacancies/__slider/vacancies__slider.css');
@import url('./blocks/vacancies/__link/vacancies__link.css');
@import url('./blocks/vacancies/__link/_active/vacancies__link_active.css');
@import url('./blocks/vacancies/__nav/vacancies__nav.css');
@import url('./blocks/vacancies/__list/vacancies__list.css');
@import url('./blocks/vacancies/__navlink/vacancies__navlink.css');
@import url('./blocks/vacancies/__navlink/_active/vacancies__navlink_active.css');
@import url('./blocks/vacancies/__counter/vacancies__counter.css');
@import url('./blocks/vacancies/__counter/_active/vacancies__counter_active.css');
@import url('./blocks/vacancies/__cards/vacancies__cards.css');

@import url('./blocks/roadmap/roadmap.css');
@import url('./blocks/roadmap/__content/roadmap__content.css');
@import url('./blocks/roadmap/__text/roadmap__text.css');
@import url('./blocks/roadmap/__button/roadmap__button.css');

@import url('./blocks/section-chatbot/section-chatbot.css');
@import url('./blocks/section-chatbot/__window/section-chatbot__window.css');
@import url('./blocks/section-chatbot/__admin-wrapper/section-chatbot__admin-wrapper.css');
@import url('./blocks/section-chatbot/__user-wrapper/section-chatbot__user-wrapper.css');
@import url('./blocks/section-chatbot/__admin-avatar/section-chatbot__admin-avatar.css');
@import url('./blocks/section-chatbot/__admin/section-chatbot__admin.css');
@import url('./blocks/section-chatbot/__admin-question/section-chatbot__admin-question.css');

@import url('./blocks/card-vacancies/card-vacancies.css');
@import url('./blocks/card-vacancies/__title/card-vacancies__title.css');
@import url('./blocks/card-vacancies/__job/card-vacancies__job.css');
@import url('./blocks/card-vacancies/__salary/card-vacancies__salary.css');

@import url('./blocks/section-faq/section-faq.css');
@import url('./blocks/section-faq/__title/section-faq__title.css');
@import url('./blocks/section-faq/__answer/section-faq__answer.css');
@import url('./blocks/section-faq/__content/section-faq__content.css');
@import url('./blocks/section-faq/__item/section-faq__item.css');

@import url('./blocks/contacts/contacts.css');
@import url('./blocks/contacts/__title/contacts__title.css');
@import url('./blocks/contacts/__text/contacts__text.css');
@import url('./blocks/contacts/__animation/contacts__animation.css');
@import url('./blocks/contacts/__nav/contacts__nav.css');
@import url('./blocks/contacts/__link/contacts__link.css');
@import url('./blocks/contacts/__link/_telegram/contacts__link_telegram.css');
@import url('./blocks/contacts/__link/_vk/contacts__link_vk.css');
@import url('./blocks/contacts/__arrow/contacts__arrow.css');

@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__number/footer__number.css');
@import url('./blocks/footer/__number/_text/footer__number_text.css');
@import url('./blocks/footer/__number/_phone/footer__number_phone.css');
@import url('./blocks/footer/__copyright/footer__copyright.css');
@import url('./blocks/footer/__list/footer__list.css');
@import url('./blocks/footer/__link/footer__link.css');
@import url('./blocks/footer/__info/footer__info.css');
@import url('./blocks/footer/__paragraph/footer__paragraph.css');

@import url('./blocks/swiper/swiper.css');

@import url('./blocks/description/description.css');
@import url('./blocks/description/__cards-container/description__cards-container.css');
@import url('./blocks/description/__cards-container/_type/description__cards-container_type_desktop.css');
@import url('./blocks/description/__cards-container/_type/description__cards-container_type_mobile.css');
@import url('./blocks/description/__card/description__card.css');
@import url('./blocks/description/__card-image/description__card-image.css');
@import url('./blocks/description/__subtitle/description__subtitle.css');
@import url('./blocks/description/__text/description__text.css');
@import url('./blocks/description/__swiper/description__swiper.css');

@import url('./blocks/faculties/faculties.css');
@import url('./blocks/faculties/__cards-container/faculties__cards-container.css');
@import url('./blocks/faculties/__card/faculties__card.css');
@import url('./blocks/faculties/__subtitle/faculties__subtitle.css');
@import url('./blocks/faculties/__card-image/faculties__card-image.css');

@import url('./blocks/comments/comments.css');
@import url('./blocks/comments/__cards-container/comments__cards-container.css');
@import url('./blocks/comments/__card/comments__card.css');
@import url('./blocks/comments/__card-image/comments__card-image.css');
@import url('./blocks/comments/__title/comments__title.css');
@import url('./blocks/comments/__text/comments__text.css');
