/* normalize.css */
@import url('../src/vendor/normalize.css');
/* шрифт */
@import url('../src/vendor/fonts/YS/ysfont.css');

@import url('./blocks/page/page.css');
@import url('./blocks/page/__container/page__container.css');

@import url('./blocks/section/section.css');
@import url('./blocks/section/__title/section__title.css');
@import url('./blocks/section/__subtitle/section__subtitle.css');
@import url('./blocks/section/__text/section__text.css');

@import url('./blocks/content/content.css');
@import url('./blocks/page/__content/page__content.css');
@import url('./blocks/content/__section/content__section.css');