.vacancies__list {
  display: flex;
  margin: 25px auto 0;
  width: max-content;
  gap: 30px;
  padding: 0;
  list-style: none;
}

@media (max-width: 900px) {
  .vacancies__list {
    gap: 0;
  }
}

@media (max-width: 800px) {
  .vacancies__list {
    flex-direction: column;
    gap: 5px;
  }
}
