.faculties__card_type_back {
    box-sizing: border-box;
    background-color: #FFFFFF;
    align-items: start;
    padding: 30px;
    justify-content: space-between;
}

.faculties__card_type_back:hover {
    background-color: #FFFFFF;
    transition: background-color .3s ease-out;
}