.header__button {
  text-align: center;
  color: #FFFFFF;
  border-radius: 100px;
  padding: 0 16px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  background-color: #000000;
  min-width: 128px;
  opacity: 1;
  transition: all 1s linear;
}

.header__button:hover {
  opacity: .3;
}
